<div class="timeline ov-y-a pd-timeline">
  <h3 i18n custom-i18n>{{ i18n.CREATE_APP }}</h3>

  <div class="timeline-item">
    <div class="timeline-left icon-lg">
      <div class="timeline-icon icon-lg">
        <i
          [ngClass]="[
            stepsComplited[0]
              ? 'bi_interface-circle-tick-a'
              : 'bi_interface-circle'
          ]"
        ></i>
      </div>
    </div>
    <div class="timeline-content">
      <div class="tile">
        <div class="tile-content">
          <p class="tile-subtitle">
            <span i18n custom-i18n>{{ i18n.INIT_APP }}</span>
            <i
              [ngClass]="[
                showSteps[0]
                  ? 'clickable bi_interface-box-minus'
                  : 'clickable bi_interface-box-plus'
              ]"
              (click)="togStep(0)"
            ></i>
          </p>
          <form
            [ngClass]="[
              'wt-302 bg-over brdr-1 m-light-brdr pd-10',
              showSteps[0] ? '' : 'disp-n'
            ]"
          >
            <div class="form-group">
              <label class="form-label" i18n custom-i18n>{{
                i18n.TITLE
                }}</label>
              <input
                class="form-input"
                type="text"
                placeholder="Title"
                name="Title"
                [(ngModel)]="appJson.app.name"
              />
              <label class="form-label" i18n custom-i18n>{{ i18n.ICON }}</label>
              <input
                class="form-input"
                type="text"
                name="sDate"
                placeholder="Icon"
                [(ngModel)]="appJson.app.icon"
              />
              <label class="form-label" i18n custom-i18n>{{ i18n.LOGO }}</label>
              <input class="form-input" type="file" />
              <label class="form-label" i18n custom-i18n>{{
                i18n.BACKGROUND_COLOR
                }}</label>
              <input
                class="form-input"
                name="bg"
                type="color"
                placeholder="Background"
                [(ngModel)]="appJson.app.style.background"
              />
              <label class="form-label" i18n custom-i18n>{{
                i18n.BACKGROUND_IMAGE
                }}</label>
              <input class="form-input" type="file" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline-item">
    <div class="timeline-left icon-lg">
      <div class="timeline-icon icon-lg">
        <i
          [ngClass]="[
            stepsComplited[1]
              ? 'bi_interface-circle-tick-a'
              : 'bi_interface-circle'
          ]"
        ></i>
      </div>
    </div>
    <div class="timeline-content">
      <div class="tile">
        <div class="tile-content">
          <p class="tile-subtitle">
            {{ i18n.CHOOSE_THEME }}
            <i
              [ngClass]="[
                showSteps[1]
                  ? 'clickable bi_interface-box-minus'
                  : 'clickable bi_interface-box-plus'
              ]"
              (click)="togStep(1)"
            ></i>
          </p>
          <div [ngClass]="['columns', showSteps[1] ? '' : 'disp-n']">
            <div
              class="card wt-240 md-5"
              *ngFor="let itm of appJsonOption.themeType"
            >
              <div class="card-image brdr-b m-light-brdr">
                <img
                  class="img-responsive"
                  [src]="'../assets/img/' + itm.title + '.png'"
                />
              </div>
              <div class="card-header">
                <div class="card-title">{{ itm.title }}</div>
                <div class="card-subtitle">
                  <i
                    *ngFor="let i of [1, 2, 3, 4, 5]"
                    [ngClass]="[i <= itm.star ? 'fa fa-star' : 'fa fa-star-o']"
                  ></i>
                </div>
              </div>
              <div class="card-body">{{ itm.desc }}</div>
              <div class="card-footer">
                <div
                  [ngClass]="[
                    'btn',
                    appJson.app.theme == itm.title.toLowerCase()
                      ? 'btn-primary'
                      : ''
                  ]"
                  (click)="chhooseTheme(itm.title)"
                >
                  {{ i18n.CHOOSE }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline-item">
    <div class="timeline-left icon-lg">
      <div class="timeline-icon icon-lg">
        <i
          [ngClass]="[
            stepsComplited[2]
              ? 'bi_interface-circle-tick-a'
              : 'bi_interface-circle'
          ]"
        ></i>
      </div>
    </div>
    <div class="timeline-content">
      <div class="tile">
        <div class="tile-content">
          <p class="tile-subtitle">
            <span i18n custom-i18n>{{ i18n.CHOOSE_FONT_AND_COLOR }}</span>
            <i
              [ngClass]="[
                showSteps[2]
                  ? 'clickable bi_interface-box-minus'
                  : 'clickable bi_interface-box-plus'
              ]"
              (click)="togStep(2)"
            ></i>
          </p>
          <div [ngClass]="['tile-title', showSteps[2] ? '' : 'disp-n']">
            <div class="form-label">
              <div class="float-left md-10" i18n custom-i18n>
                {{ i18n.FONT_FAMILY }}
              </div>
              <div class="float-left popover popover-bottom md-5 wt-160-c">
                <div
                  class="btn"
                  [ngStyle]="{
                    'font-family': appJson.app.style.fontFamilyBase.val
                  }"
                >
                  {{ appJson.app.style.fontFamilyBase.title }}
                </div>
                <div class="popover-container my-popover bg-over">
                  <i class="chev-pop"></i>
                  <ul class="nav m-0-pc ov-y-a ht-200">
                    <li
                      *ngFor="let ik of appJsonOption.fontFamily"
                      (click)="appJson.app.style.fontFamilyBase = ik"
                      [ngClass]="[
                        'clickable wt-150 nav-item',
                        appJson.app.style.fontFamilyBase.val == ik.val
                          ? 'active-li'
                          : ''
                      ]"
                      [ngStyle]="{ 'font-family': ik.val }"
                    >
                      {{ ik.title }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="divider float-devider"></div>
            <div class="form-label">
              <div class="float-left md-10" i18n custom-i18n>
                {{ i18n.COLOR_PALLET }}
              </div>
              <div class="float-left popover popover-bottom md-5 wt-160-c">
                <div class="btn">{{ appJson.app.style.palette }}</div>
                <div class="popover-container my-popover bg-over">
                  <i class="chev-pop"></i>
                  <ul class="nav m-0-pc ov-y-a ht-200">
                    <li
                      *ngFor="let ik of appJsonOption.palettes"
                      (click)="appJson.app.style.palette = ik.val"
                      [ngClass]="[
                        'clickable wt-150 nav-item',
                        appJson.app.style.palette == ik.val ? 'active-li' : ''
                      ]"
                      [ngStyle]="{ 'font-family': ik.val }"
                    >
                      {{ ik.title }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
    <div class="timeline-item">
      <div class="timeline-left icon-lg">
        <div class="timeline-icon icon-lg">
          <i [ngClass]="[stepsComplited[3]?'bi_interface-circle-tick-a':'bi_interface-circle']"></i>
        </div>
      </div>
      <div class="timeline-content">
        <div class="tile">
          <div class="tile-content">
            <p class="tile-subtitle">
              {{i18n.ADD_PAGE}} <i [ngClass]="[showSteps[3]?'clickable bi_interface-box-minus':'clickable bi_interface-box-plus']" (click)="togStep(3)"></i>
            </p>
            <div [ngClass]="['tile-title',showSteps[3]?'':'disp-n']">
            <div class="form-label">No of Pages</div>
            <input class="form-input wt-302" name="bg" type="number" min="1" max="5" [(ngModel)]="appJson.noOfPages" (change)="addNPages($event.target.value)">
            </div>
          </div>
        </div>
      </div>
    </div>
  -->
  <div class="timeline-item">
    <div class="timeline-left icon-lg">
      <div class="timeline-icon icon-lg">
        <i
          [ngClass]="[
            stepsComplited[3]
              ? 'bi_interface-circle-tick-a'
              : 'bi_interface-circle'
          ]"
        ></i>
      </div>
    </div>
    <div class="timeline-content">
      <div class="tile">
        <div class="tile-content">
          <p class="tile-subtitle">
            <span i18n custom-i18n> {{ i18n.EDIT_PAGES }}</span>
            <i
              [ngClass]="[
                showSteps[3]
                  ? 'clickable bi_interface-box-minus'
                  : 'clickable bi_interface-box-plus'
              ]"
              (click)="togStep(3)"
            ></i>
          </p>

          <div [ngClass]="['tile-title columns', showSteps[3] ? '' : 'disp-n']">
            <div *ngFor="let itm of appJson.app.pages; let ind = index">
              <div class="my-apper-page-container">
                <div class="my-apper-page light-them">
                  <div class="title">
                    <h4>
                      {{ itm.title }}
                      <div class="btn-group float-right">
                        <div class="btn" (click)="opnMdl(ind)">
                          <i class="bi_editorial-pencil"></i>
                        </div>
                        <div class="btn" (click)="removePage(ind)">
                          <i class="bi_interface-cross"></i>
                        </div>
                      </div>
                    </h4>
                  </div>
                  <div class="content" [innerHTML]="itm.content"></div>
                </div>
              </div>
            </div>
            <button
              *ngIf="appJson.noOfPages < 5"
              (click)="addNPages(appJson.noOfPages + 1)"
              i18n
              custom-i18n
            >
              {{ i18n.ADD_PAGE }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline-item">
    <div class="timeline-left icon-lg">
      <div class="timeline-icon icon-lg">
        <i
          [ngClass]="[
            stepsComplited[4]
              ? 'bi_interface-circle-tick-a'
              : 'bi_interface-circle'
          ]"
        ></i>
      </div>
    </div>
    <div class="timeline-content">
      <div class="tile">
        <div class="tile-content">
          <p class="tile-subtitle">
            {{ i18n.ADD_FORM }}
            <i
              [ngClass]="[
                showSteps[4]
                  ? 'clickable bi_interface-box-minus'
                  : 'clickable bi_interface-box-plus'
              ]"
              (click)="togStep(4)"
            ></i>
          </p>
          <div
            [ngClass]="[
              'tile-title login-reg-frm mt-0',
              showSteps[4] ? '' : 'disp-n'
            ]"
          >
            <div class="form-group">
              <label
                class="form-label"
                for="input-form-name"
                i18n
                custom-i18n
              >{{ i18n.FORM_NAME }}</label
              >
              <div class="has-icon-right">
                <input
                  class="form-input"
                  type="text"
                  id="input-form-name"
                  placeholder="Form title"
                  value="My Form"
                />
              </div>
            </div>
            <div
              class="form-group"
              *ngFor="let field of fields; let ind = index"
            >
              <label class="form-label" [for]="'input-form-itm' + ind">{{
                field.name
                }}</label>
              <div class="input-group">
                <input
                  class="form-input"
                  [id]="'input-form-itm' + ind"
                  [type]="field.type"
                  [placeholder]="field.placeholder"
                />
                <button
                  class="btn input-group-btn"
                  (click)="mConfigField = field"
                  i18n
                  custom-i18n
                >
                  <i class="bi_editorial-pencil"></i>
                </button>
              </div>
            </div>
            <div class="form-group">
              <div class="btn wt-100" (click)="addField()" i18n custom-i18n>
                {{ i18n.ADD_FIELD }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline-item">
    <div class="timeline-left icon-lg">
      <div class="timeline-icon icon-lg">
        <i
          [ngClass]="[
            stepsComplited[5]
              ? 'bi_interface-circle-tick-a'
              : 'bi_interface-circle'
          ]"
        ></i>
      </div>
    </div>
    <div class="timeline-content">
      <div class="tile">
        <div class="tile-content">
          <p class="tile-subtitle">
            <span i18n custom-i18n>{{ i18n.BUILD_APP }}</span>
            <i
              [ngClass]="[
                showSteps[5]
                  ? 'clickable bi_interface-box-minus'
                  : 'clickable bi_interface-box-plus'
              ]"
              (click)="togStep(5)"
            ></i>
          </p>
          <div [ngClass]="['tile-title columns', showSteps[5] ? '' : 'disp-n']">
            <div
              *ngFor="let itm of appJsonOption.appBuildOpt"
              [ngClass]="[
                'wt-160 btn md-5',
                itm.toLowerCase() === appJson.platform ? 'btn-primary' : ''
              ]"
              (click)="buildApp(itm)"
            >
              {{ itm }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline-item ht-0">
    <div class="timeline-left icon-lg">
      <div class="timeline-icon icon-lg">
        <i
          [ngClass]="[
            stepsComplited[6]
              ? 'bi_interface-circle-tick-a'
              : 'bi_interface-circle'
          ]"
        ></i>
      </div>
    </div>
    <div class="timeline-content">
      <div class="tile">
        <div class="tile-content">
          <p class="tile-subtitle">
            <span i18n custom-i18n>{{ i18n.DOWNLOAD_APP }}</span>
            <i
              [ngClass]="[
                showSteps[6]
                  ? 'clickable bi_interface-box-minus'
                  : 'clickable bi_interface-box-plus'
              ]"
              (click)="togStep(6)"
            ></i>
          </p>
          <div [ngClass]="['tile-title columns', showSteps[6] ? '' : 'disp-n']">
            <p i18n custom-i18n>
              {{
              i18n.HAVE_A_COFFEE_TILL_WE_ARE_WORKING_ON_APP__WE_WILL_MAIL_MESSAGE_YOU_WHEN_APP_WILL_BE_READY__NOTE__IT_MIGHT_TAKE_AROUND_5_MINUTS_
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="mConfigField" class="modal active">
  <div class="modal-overlay"></div>
  <div class="modal-container my-edit-modal">
    <div class="modal-header brdr-b m-light-brdr">
      <div class="modal-title text-ellipsis" i18n custom-i18n>
        {{ i18n.FIELD_PROPERTIES }}
      </div>
    </div>
    <div class="modal-body">
      <div class="content">
        <div class="form-group">
          <label class="form-label" for="input-field-ifo1" i18n custom-i18n>{{
            i18n.LABEL
            }}</label>
          <div class="has-icon-right">
            <input
              class="form-input"
              type="text"
              id="input-field-ifo1"
              [placeholder]="i18n.ENTER_FIELD_TITLE"
              [(ngModel)]="mFormTitle"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="input-field-ifo2" i18n custom-i18n>{{
            i18n.NAME
            }}</label>
          <div class="has-icon-right">
            <input
              class="form-input"
              type="text"
              id="input-field-ifo2"
              pattern="[A-Za-z0-9 _]+"
              [(ngModel)]="mConfigField.name"
              [placeholder]="i18n.ENTER_FIELD_NAME"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="input-field-ifo3" i18n custom-i18n>{{
            i18n.PLACEHOLDER
            }}</label>
          <div class="has-icon-right">
            <input
              class="form-input"
              type="text"
              id="input-field-ifo3"
              [(ngModel)]="mConfigField.placeholder"
              [placeholder]="i18n.ENTER_PLACEHOLDER"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="input-field-ifo4" i18n custom-i18n>{{
            i18n.TYPE
            }}</label>
          <div class="has-icon-right">
            <select
              class="form-input"
              id="input-field-ifo4"
              type="text"
              [(ngModel)]="mConfigField.type"
            >
              <option value="text">{{ i18n.TEXT }}</option>
              <option value="date">{{ i18n.DATE }}</option>
              <option value="checkbox">{{ i18n.CHECKBOX }}</option>
              <option value="number">{{ i18n.NUMBER }}</option>
            </select>
          </div>
        </div>
        <div class="form-group" *ngIf="mConfigField.type">
          <label class="form-label" for="input-field-ifo5" i18n custom-i18n>{{
            i18n.DEFAULT
            }}</label>
          <div class="has-icon-right">
            <input
              class="form-input"
              type="text"
              id="input-field-ifo5"
              [type]="mConfigField.type"
              [(ngModel)]="mConfigField.default"
              [placeholder]="i18n.ENTER_DEFAULT_VALUE"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer brdr-t m-light-brdr">
      <button class="btn" (click)="mConfigField = null" i18n custom-i18n>
        {{ i18n.DONE }}
      </button>
    </div>
  </div>
</div>
<div [ngClass]="['modal', pageEdit ? 'active' : '']">
  <div class="modal-overlay"></div>
  <div class="modal-container my-edit-modal full-mdl p-flx-v-cont">
    <div class="modal-header brdr-b m-light-brdr ht-56">
      <button class="btn pull-right" (click)="savePageEdit()" i18n custom-i18n>
        {{ i18n.SAVE }}
      </button>
      <button
        class="btn pull-right"
        (click)="pageEdit = false"
        i18n
        custom-i18n
      >
        {{ i18n.CANCEL }}
      </button>
    </div>
    <div class="modal-body columns flx-1 mx-ht-inh">
      <div class="my-apper-page-container editr">
        <div class="my-apper-page light-them">
          <div class="title" *ngIf="tmpPg && tmpPg[1]">
            <div class="form-group">
              <input
                class="form-input"
                name="title"
                type="text"
                [(ngModel)]="tmpPg[1].title"
              />
            </div>
          </div>
          <div class="content">
            <textarea id="inputContent" [innerHTML]="currContent"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
