.my-apper-page-container {
  height: 500px;
  width: 320px;
  border: 1px solid;
  margin: 4px;
}
.my-apper-page {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  height: 100%;
  width: 100%;
}
.my-apper-page.light-them {
  border-right: 1px solid;
}
.my-apper-page.dark-theme {
  border-right: 1px solid;
}
.my-apper-page > .title {
  padding: 10px;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid;
}
.my-apper-page > .content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; /* lets it scroll lazy */
}
.my-apper-page-container.editr {
  height: 100%;
  width: 100%;
}
#inputContent {
  width: 100%;
  height: 100%;
}
.mx-ht-inh {
  max-height: inherit;
}
